html {
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    background-color: white ;
}


/* INICIO DO RELACIONADO AO NAVBAR*/

  .navbar{
      background-color: #163B71;
      font-family: 'Bree Serif', serif;
  }

  .dropdown-menu{
      background-color: #163B71;
  }

  .dropdown-item{
      color: #fbbd1f;
  }

  .form-inline{
    background-color: #fbbd1f; 
  }
  #sair{
    background-color: #fbbd1f; 
  }

/* FIM DO RELACIONADO AO NAVBAR*/



a{
    text-decoration: none; /*tirar o sublinhado do link*/
    color: #fbbd1f;
    font-family: 'Bree Serif', serif;
    
}

.flex{
    display: flex;
    
    
 
   
}

.flex > div{
    display: flex;
    margin-left: 90px;
    margin: 40px;
   
}



.flex_img{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-top: 40px;
}

.imagem{
    text-align: center;
}

.aluno{

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.8s;
    width: 14%;
    border-radius: 5px;
    background-color: #163B71;
    margin-left: 30px;

}

  .card:hover {
    box-shadow: 0 8px 12px 0 #163B71;
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 80px 16px;

  }

.admin{
    background-color: #163B71;
    width: 12%;
    height: 160px ;
    margin-right:10px ;
    border-radius: 15px;
}

.emp{
    background-color: #163B71;
    width: 12%;
    height: 160px ;
    margin-right:10px ;
    border-radius: 15px;
    
}


#logo{
    color: #fbbd1f;
    text-align: center;
    padding: 23px 10px;
    font-family: 'Bree Serif', serif;
}

#nomedestaque{
    text-align: center;
    font-family: 'Bree Serif', serif;
    color: #fbbd1f;
    font-size: 40px;
    padding: 5px;
    background-color: #163B71;
}



.rodape {
    
    position: fixed;
    height: 40px ;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #163B71;
    text-align: center;
}

.rodape p {
    
    color: #fbbd1f;
    margin-bottom: 0;
    margin: 10px;
    font-size: larger;
    
    

}

h2{
    position: relative;
    top: 40px;
}

















